[Unit]
Description=Hans_ii_midi
After=network.target

[Service]
ExecStart=/home/pi/hans_ii_midi_c/build/hans_ii_midi
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target